#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2026, Manchester University (http://www.manchester.ac.uk/)
#
#     This work is made available under the Creative Commons
#     Attribution-ShareAlike 4.0 International licence.
#
#     For details of the licence terms see:
#     https://creativecommons.org/licenses/by-sa/4.0/
#   </meta:licence>
# </meta:header>
#
# AIMetrics: [
#     {
#     "timestamp": "2026-09-05T12:41:19",
#     "name": "@deepseek-ai/dsh",
#     "version": "0.1.1-rc.2",
#     "model": "deepseek-v4-flash",
#     "contribution": {
#       "value": 10,
#       "units": "%"
#       }
#     }
#   ]
#
# Requirements for our Python tests.
#

--index-url https://pypi.org/simple
--extra-index-url https://repo.dev.uksrc.org/repository/localpypi/simple
--pre

pytest
docker
psycopg[binary]
PyYAML

calycopis_openapi_client == ${CALYCOPIS_OPENAPI_PYTHON_VERSION}


